<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fab Inventory | <%= subtitle %></title>
</head>
<body>
    <form action="<%= mode === 'edit' ? '/material/' + formData.material_id + '/edit' : '/material/new' %>" method="POST">
        <%- include("../partials/formErrors.ejs") %>
        <% if (mode === 'edit') { %> 
            <input type="hidden" id="materialId" name="material_id" value="<%= formData.material_id %>">
        <% } %>
        <label for="material-name">Material Name</label>
        <input type="text" name="material_name" id="material-name" value="<%= formData?.material_name || '' %>">
        <label for="material-description">Material Description</label>
        <input type="text" name="material_description" id="material-description" value="<%= formData?.material_description || '' %>">
        <% if( formData.categoryList ) { %>
            <fieldset>
                <legend>Categories</legend>
                <% formData.categoryList.forEach( (category, index) => { %>
                    <% const id = `CT-${category.category_id}` %>
                    <% const selected = formData.categories?.some( c => +c.category_id === category.category_id ) ? "checked" : '' %>
                    <input type="checkbox" value="<%= category.category_id %>" <%= selected %> id="<%= id %>" name="categories[<%=index %>][category_id]">
                    <label for="<%= id %>"><%= category.category_name %></label>
                <% }); %>
            </fieldset>
        <% } %>
        <label for="stock-in-hand">Stock In Hand</label>
        <input type="number" name="stock_in_hand" id="stock-in-hand" value="<%= formData?.stock_in_hand || '' %>">
        <label for="is-protected">Protected</label>
        <input type="checkbox" value="true" id="is-protected" name="is_protected" <%= formData?.is_protected ? 'checked'  : '' %>>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <% if (locals?.formData?.passwordIsRequired) { %> 
            <span><%= 'Valid Password is required' %></span>
        <% } %>
        <button type="submit">Submit</button>
    </form>
</body>
</html>